<div class="animated fadeIn">
    <form #form="ngForm" class="form-horizontal">
        <div class="card">
            <div class="card-header">
                <strong>Create New Account</strong>
            </div>
            <div class="card-body row">
                <div class="form-group col-md-4 col-sm-12">
                    <label class="col-form-label">Name Of Loan Provider</label>
                    <input type="text" name="loanFrom" [(ngModel)]=firmLoanObj.loanFrom class="form-control">
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label class="col-form-label" for="hf-email">Loan Amount</label>
                    <input type="text" name="loanAmt" [(ngModel)]=firmLoanObj.loanAmt class="form-control">
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label class="col-form-label" for="hf-email">Start Date</label>
                    <input class="form-control" id="date-input" [(ngModel)]=firmLoanObj.startDate type="date" name="startDate">
                </div>
                <div class="form-group col-md-4 col-sm-12">
                    <label class="col-form-label" for="hf-email">Remark</label>
                    <input type="text" name="remark" [(ngModel)]=firmLoanObj.remark class="form-control">
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" mat-raised-button (click)="createNewFirmLoan()" class="mt-2 mb-2 " color="primary"> Submit</button>
            <button type="reset" mat-raised-button class="m-2"> Reset</button>
        </div>
    </form>
    <app-loader *ngIf="isLoader"></app-loader>
</div>
