<div class="animated fadeIn">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-body">
                    <form #form="ngForm" class="form-horizontal">
                        <div class="card-header">
                            <strong>Create New Account</strong>
                        </div>

                        <div class="card">

                            <div class="card-body">
                                <div class="form-group mb-3 row">
                                    <label class="col-md-3 col-form-label">Name Of Loan Provider</label>
                                    <div class="col-md-9">
                                        <input type="text" name="loanFrom" [(ngModel)]=firmLoanObj.loanFrom class="form-control">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label class="col-md-3 col-form-label" for="hf-email">Loan Amount</label>
                                    <div class="col-md-9">
                                        <input type="text" name="loanAmt" [(ngModel)]=firmLoanObj.loanAmt class="form-control">
                                    </div>
                                </div>

                                <div class="form-group mb-3 row">
                                    <label class="col-md-3 col-form-label" for="hf-email">Start Date</label>
                                    <div class="col-md-9">
                                        <input class="form-control" id="date-input" [(ngModel)]=firmLoanObj.startDate type="date" name="startDate">
                                    </div>
                                </div>
                                <div class="form-group mb-3 row">
                                    <label class="col-md-3 col-form-label" for="hf-email">Remark</label>
                                    <div class="col-md-9">
                                        <input type="text" name="remark" [(ngModel)]=firmLoanObj.remark class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/.col-->
                        <div class="text-end">
                            <button type="button" mat-raised-button (click)="createNewFirmLoan()" class="mt-2 mb-2 " color="primary"> Submit</button>
                            <button type="reset" mat-raised-button class="m-2"> Reset</button>
                        </div>
                    </form>
                </div>

            </div>

        </div>

    </div>
    <!--/.row-->
    <app-loader *ngIf="isLoader"></app-loader>

</div>
