<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <form #custform="ngForm" class="form-horizontal">
                <shared-customer [isView]="false" [isLoader]="isLoader" [CustomerGroup]="CustomerGroup"></shared-customer>
                <!--/.col-->
                <div class="card-footer text-riendght">
                    <button type="button" (click)="saveCustomerPersionDetail()" class="btn mt-2 mb-2 btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button type="reset" class="btn m-2 btn-danger"><i class="fa fa-ban"></i> Reset</button>
                </div>
            </form>
        </div>
    </div>
</div>
