<div class="login-body">
    <div class="card">
        <form #userForm="ngForm">
            <h1>Login</h1>
            <p class="text-muted">Sign In to your account</p>
            <div class="input-group mb-3" *ngIf="showUserName">
                <div class="input-group-prepend">
                    <span class="input-group-text h-100"><i class="icon-user"></i></span>
                </div>
                <input type="text" pInputText name="userName" [(ngModel)]="user.userName" class="form-control" placeholder="Username" autocomplete="username" required>
            </div>
            <div class="input-group mb-4" *ngIf="isValidUserName">
                <div class="input-group-prepend">
                    <span class="input-group-text h-100"><i class="icon-lock"></i></span>
                </div>
                <input type="text" name="password" [(ngModel)]="user.password" class="form-control" placeholder="Password" autocomplete="current-password" required>
            </div>
            <div class="row justify-content-md-center" *ngIf="showUserName">
                <div class="text-center mt-2">
                    <button type="button" class="m-2" mat-raised-button (click)="checkUserName()" class="btn btn-primary px-4">Check Username
                        <span *ngIf="userLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row justify-content-md-center" *ngIf="isValidUserName">
                <div class="text-center mt-2">
                    <button type="submit" (click)="checkUserPassword()" class="btn btn-primary px-4">Login
                        <span *ngIf="passwordLoader" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
