<div class="animated fadeIn">
 
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
      
        <div class="card-body">
          <form #form="ngForm" class="form-horizontal">
             <div class="card-header">
              <strong>Create New Account</strong>
            </div>
           
              <div class="card" >
               
                <div class="card-body">
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label">Customer Name</label>
                    <div class="col-md-9">
                      <input type="text" name="custFullName" [(ngModel)]=shortTermLoanObj.custFullName  class="form-control" >
                    </div>
                  </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">Loan Amount</label>
                      <div class="col-md-9">
                        <input type="text" name="loanAmt" [(ngModel)]=shortTermLoanObj.loanAmt  class="form-control" >
                      </div>
                    </div>
                
                    <div class="form-group row">
                        <label class="col-md-3 col-form-label" for="hf-email">Start Date</label>
                        <div class="col-md-9">
                          <input class="form-control" id="date-input" [(ngModel)]=shortTermLoanObj.startDate type="date" name="startDate" >
                        </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-md-3 col-form-label" for="hf-email">End Date</label>
                      <div class="col-md-9">
                        <input class="form-control" id="date-input" [(ngModel)]=shortTermLoanObj.endDate type="date" name="endDate" >
                      </div>
                  </div>
              </div>
            </div><!--/.col-->
            <div class="card-footer">
              <button type="button" (click)="createNewShortTermLoan()"  class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
            </div>
      </form>
        </div>
       
      </div>
     
    </div>

  </div><!--/.row-->
 
</div>
