<div class="animated fadeIn">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Firm Loan Account Close </strong>

                </div>
                <div class="card-body">
                    <form #form="ngForm" class="form-horizontal">

                        <div class="form-group mb-3 row">
                            <label class="col-md-3 col-form-label">Account No</label>
                            <div class="col-md-9">
                                <div class="col-md-9">
                                    <input name="firmLoanId" ngModel (blur)="getAccountDetail($event)" class="form-control" placeholder="Enter Account No....">
                                </div>
                            </div>
                        </div>

                        <div class="card-header">
                            <strong>Account Detail</strong>
                        </div>

                        <div class="card">

                            <div class="card-body">
                                <form #form="ngForm" class="form-horizontal">
                                    <div class="form-group mb-3 row">
                                        <label class="col-md-3 col-form-label">Name Of Loan Provider</label>
                                        <div class="col-md-9">
                                            <input type="text" value="{{firmLoanObj.loanFrom}}" readonly class="form-control" readonly>
                                        </div>
                                    </div>

                                    <div class="form-group mb-3 row">
                                        <label class="col-md-3 col-form-label" for="hf-email">Loan Amount</label>
                                        <div class="col-md-9">
                                            <input type="text" value="{{firmLoanObj.loanAmt}}" readonly class="form-control" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3 row">
                                        <label class="col-md-3 col-form-label" for="hf-email">Iterest Amount</label>
                                        <div class="col-md-9">
                                            <input type="text" name="interestAmt" [(ngModel)]="firmLoanObj.interestAmt" value="{{firmLoanObj.interestAmt}}" class="form-control">
                                        </div>
                                    </div>

                                    <div class="text-end">
                                        <button type="button" mat-raised-button (click)="closeFirmLoan()" class="mt-2 mb-2 " color="primary"> Close</button>
                                        <button type="reset" mat-raised-button class="m-2"> Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--/.col-->

                    </form>
                </div>

            </div>

        </div>

    </div>
    <!--/.row-->

    <app-loader *ngIf="isLoader"></app-loader>
</div>
