<div class="animated fadeIn">

    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Firm Loan Account Close </strong>
                </div>
                <div class="card-body">
                    <form #form="ngForm" class="form-horizontal">
                        <div class="form-group col-md-4 col-sm-12">
                            <label class="col-form-label">Account No</label>
                            <input name="firmLoanId" ngModel (blur)="getAccountDetail($event)" class="form-control" placeholder="Enter Account No....">
                        </div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <strong>Account Detail</strong>
                </div>
                <div class="card-body">
                    <form #form="ngForm" class="form-horizontal row">
                        <div class="form-group col-md-4 col-sm-12">
                            <label class="col-form-label">Name Of Loan Provider</label>
                            <input type="text" value="{{firmLoanObj?.loanFrom}}" readonly class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label class="col-form-label" for="hf-email">Loan Amount</label>
                            <input type="text" value="{{firmLoanObj?.loanAmt}}" readonly class="form-control" readonly>
                        </div>
                        <div class="form-group col-md-4 col-sm-12">
                            <label class="col-form-label" for="hf-email">Iterest Amount</label>
                            <input type="text" name="interestAmt" [(ngModel)]="firmLoanObj.interestAmt" value="{{firmLoanObj?.interestAmt}}" class="form-control">
                        </div>
                        <div class="text-end">
                            <button type="button" mat-raised-button (click)="closeFirmLoan()" class="mt-2 mb-2 " color="primary"> Close</button>
                            <button type="reset" mat-raised-button class="m-2"> Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <app-loader *ngIf="isLoader"></app-loader>
</div>
