<div [formGroup]="CustomerGroup" class="card">
    <div class="card-body">
        <div class="form-group mb-3 row">
            <div class="col-sm-4 col-md-4 pb-4" *ngIf="isView && CustomerGroup">
                <label class="col-form-label">Customer</label>
                <select class="form-control" formControlName="custId">
                    <option value="">--Select Customer--</option>
                    <option *ngFor="let customer of allCustomerList" value="{{customer.custId}}">{{customer.fullName}}</option>
                </select>
            </div>
        </div>
        <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0" *ngIf="((isView && CustomerGroup.get('fullName').value) || !isView)">
            <ngb-panel id="ngb-panel-0">
                <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="accordion-button"><strong>Customer Detail</strong></button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="form-group mb-3 row">
                        <div class="col-4 col-md-4">
                            <label class="col-form-label">Full Name</label>
                            <input type="text" formControlName="fullName" class="form-control" id="inputError1" placeholder="Full Name..">
                            <div *ngIf="CustomerGroup.get('fullName').invalid" class="invalid-feedback">
                                Please Enter Customer Name.
                            </div>
                        </div>
                        <div class="col-4 col-md-4">
                            <label class="col-form-label">Buiseness</label>
                            <input type="checkbox" class="switch-input pt-1" checked title="Edit" (change)="CustomerGroup.get('professionName').enable()" *ngIf="CustomerGroup.get('professionName').disabled">
                            <input type="text" formControlName="professionName" class="form-control" placeholder="Buiseness Name..">
                        </div>
                        <div class="col-4 col-md-4">
                            <label class="col-form-label">Adhar No.</label>
                            <input type="checkbox" class="switch-input pt-1" checked title="Edit" (change)="CustomerGroup.get('adharNo').enable()" *ngIf="CustomerGroup.get('adharNo').disabled">
                            <input class="form-control" type="text" formControlName="adharNo" placeholder="Adhar No.">
                        </div>
                        <div class="col-4 col-md-4">
                            <label class="col-form-label">PAN No.</label>
                            <input type="checkbox" class="switch-input pt-1" checked title="Edit" (change)="CustomerGroup.get('panNo').enable()" *ngIf="CustomerGroup.get('panNo').disabled">
                            <input class="form-control" type="text" formControlName="panNo" placeholder="PAN No.">
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="accordion-button"><strong>Address Detail</strong></button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="form-group mb-3 row" formGroupName="address">
                        <div class="col-6 col-md-6 col-sm-12">
                            <label class="col-form-label">Address</label>
                            <input type="checkbox" class="switch-input pt-1" checked title="Edit" (change)="CustomerGroup.get('address.address').enable()" *ngIf="CustomerGroup.get('address.address').disabled">
                            <input type="text" formControlName="address" class="form-control" placeholder="Address">
                        </div>
                        <div class="col-2 col-md-2 col-sm-12">
                            <label class="col-form-label">Postal Code</label>
                            <input type="checkbox" class="switch-input pt-1" checked title="Edit" (change)="CustomerGroup.get('address.zipCode').enable()" *ngIf="CustomerGroup.get('address.zipCode').disabled">
                            <input type="text" formControlName="zipCode" class="form-control" placeholder="Postal Code">
                        </div>
                        <div class="col-4 col-md-4 col-sm-12">
                            <label class="col-form-label">Email</label>
                            <input type="checkbox" class="switch-input pt-1" checked title="Edit" (change)="CustomerGroup.get('address.email').enable()" *ngIf="CustomerGroup.get('address.email').disabled">
                            <input type="text" formControlName="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-4 col-md-4 col-sm-12">
                            <label class="col-form-label">Mobile No.</label>
                            <input type="checkbox" class="switch-input pt-1" checked title="Edit" (change)="CustomerGroup.get('address.phoneNo').enable()" *ngIf="CustomerGroup.get('address.phoneNo').disabled">
                            <input type="text" formControlName="phoneNo" class="form-control" placeholder="Mobile No.">
                        </div>
                        <div class="col-4 col-md-4 col-sm-12">
                            <label class="col-form-label">Alternet No.</label>
                            <input type="checkbox" class="switch-input pt-1" checked title="Edit" (change)="CustomerGroup.get('address.altNo').enable()" *ngIf="CustomerGroup.get('address.altNo').disabled">
                            <input type="text" formControlName="altNo" class="form-control" placeholder="Alternet No.">
                        </div>
                        <div class="col-4 col-md-4 col-sm-12">
                            <label class="col-form-label">Native Place</label>
                            <input type="text" formControlName="nativePlace" class="form-control" placeholder="Native Place">
                        </div>
                    </div>
                    <div class="row" *ngIf="isView">
                        <label class="col-9 col-form-label p-3" for="hf-email">Customer Detail</label>
                        <div class="col-3 col-form-label p-3">
                            <a [href]="fileUrl" target="_blank" download="customer.pdf">DownloadFile</a>
                        </div>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="accordion-button"><strong>Nominee Detail</strong></button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="form-group mb-3 row" formArrayName="nomineeDtls" *ngFor="let item of nomineeDtls['controls']; let i = index;">
                        <ng-container [formGroupName]="i">
                            <div class="col-4 col-md-4 col-sm-12">
                                <label class="col-form-label">Full Name</label>
                                <input type="text" formControlName="fullName" class="form-control" placeholder="Full Name">
                                <div *ngIf="item.get('fullName').invalid" class="invalid-feedback">
                                    Please Enter Nominee Name.
                                </div>
                            </div>
                            <div class="col-sm-4 col-md-4 pb-6">
                                <label class="col-form-label">Nominee Relation</label>
                                <select class="form-control" formControlName="relation">
                                    <option value="">--Select Nominee Relation--</option>
                                    <option *ngFor="let item of relation" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                            <div class="form-group col-4 col-md-4 col-sm-12 mt-1 pt-4" *ngIf="isView">
                                <button type="button" (click)="allowEdit(item)" class="btn mt-2 mb-2 btn-primary">
                                    <i class="fa fa-dot-circle-o"></i>Edit</button>
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-group col-sm-5" *ngIf="!isView">
                        <button type="button" (click)="addNomineeDtls()" class="btn mt-2 mb-2 btn-primary">
                            <i class="fa fa-dot-circle-o"></i> Add Nominee
                        </button>
                    </div>
                </ng-template>
            </ngb-panel>
            <ngb-panel>
                <ng-template ngbPanelHeader>
                    <button ngbPanelToggle class="accordion-button"><strong>Witness Persions</strong></button>
                </ng-template>
                <ng-template ngbPanelContent>
                    <div class="form-group mb-3 row" formArrayName="contactPeopleDtls" *ngFor="let item of contactPeopleDtls['controls']; let i = index;">
                        <div class="row" [formGroupName]="i">
                            <div class="form-group col-4 col-md-4 col-sm-12">
                                <label class="col-form-label">Full Name</label>
                                <input type="text" class="form-control" formControlName="fullName">
                                <div *ngIf="item.get('fullName').invalid" class="invalid-feedback">
                                    Please Enter Customer Name.
                                </div>
                            </div>
                            <div class="form-group col-8 col-md-8 col-sm-12" formGroupName="address">
                                <label class="col-form-label">Address</label>
                                <input type="text" class="form-control" formControlName="address" placeholder="Address">
                            </div>
                            <div class="form-group col-4 col-md-4 col-sm-12" formGroupName="address">
                                <label class="col-form-label">Phone No.</label>
                                <input type="text" class="form-control" formControlName="phoneNo" placeholder="Phone No.">
                            </div>
                            <div class="form-group col-4 col-md-4 col-sm-12 mt-1 pt-4" *ngIf="isView">
                                <button type="button" (click)="allowEdit(item)" class="btn mt-2 mb-2 btn-primary">
                                    <i class="fa fa-dot-circle-o"></i>Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-5" *ngIf="!isView">
                        <button type="button" (click)="addContactPeople()" class="btn mt-2 mb-2 btn-primary">
                            <i class="fa fa-dot-circle-o"></i> Add Witness
                        </button>
                    </div>
                </ng-template>
            </ngb-panel>
        </ngb-accordion>
    </div>
</div>
