<ng-container>
    <c-container [fluid]="true">
        <button toggle="visible" cHeaderToggler [cSidebarToggle]="sidebarId" class="ps-1">
            <svg cIcon name="cilMenu" size="lg"></svg>
        </button>
        <c-header-nav class="d-none d-lg-flex me-auto">
            <c-nav-item>
                <a cNavLink routerLink="/dashboard" routerLinkActive="active">
                    Dashboard
                </a>
            </c-nav-item>
        </c-header-nav>
        <ul class="nav navbar-nav ml-auto">
            <!--  <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>
    </li>-->
            <li class="nav-item px-3">
            </li>
            <li class="nav-item px-3">
            </li>
        </ul>
        <c-header-nav class="d-none d-lg-flex">
            <c-nav-item>
                <a cNavLink class="nav-link" href="#">Logged In {{cache.user?.fullName}}</a>
            </c-nav-item>
            <c-nav-item>
                <a cNavLink class="nav-link" href="#" (click)="logout()">Log Out</a>
            </c-nav-item>
        </c-header-nav>
        <!-- <c-header-nav class="ms-3">
            <ng-container *ngTemplateOutlet="userDropdown"></ng-container>
        </c-header-nav> -->
    </c-container>
    <c-header-divider></c-header-divider>
    <c-container [fluid]="true">
        <c-breadcrumb-router class="ms-2"></c-breadcrumb-router>
    </c-container>
</ng-container>
