<div class="animated fadeIn">
    <div class="card">
        <div class="card-header">
            <strong>Expense Types</strong>
        </div>
        <div class="card-body">
            <form #form="ngForm" class="form-horizontal" [formGroup]="ExpenseGroup">
                <div class="form-group mb-3 row">
                    <div class="col-md-10">
                        <label class="col-form-label">Expense Name</label>
                        <input type="text" name="expenseType" formControlName="expenseType" class="form-control" placeholder="Type Of Expenses">
                    </div>
                    <div class="col-md-2 p-0 pt-4 mt-2 pe-3 text-end">
                        <button type="button" (click)="addExpenseTypes()" class="btn mt-1 btn-success">
                            <i class="fa fa-check"></i>
                        </button>
                        <button type="reset" class="btn ms-2 mt-1 btn-danger">
                            <i class="fa fa-ban"></i>
                        </button>
                    </div>
                </div>
            </form>

            <div *ngIf="expenseTypesList?.length">
                <table class="table">
                    <thead>
                        <tr>
                            <th width="10%">No.</th>
                            <th>Name</th>
                            <th width="10%" class="text-center">Option</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let expenseTypes of expenseTypesList; let i = index;">
                            <td>{{i+1}}</td>
                            <td>{{expenseTypes.expenseType}}</td>
                            <td *ngIf="expenseTypes.expenseTypeId" class="text-center">
                                <a href="javascript:;" (click)="intiateEdit()">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
