$enable-ltr: true;
$enable-rtl: true;

// Import styles with default layout.
@import "~@coreui/coreui/scss/coreui";
// Override Boostrap variables
@import "~@coreui/coreui/scss/variables";
// Import Chart.js custom tooltips styles
@import "~@coreui/chartjs/scss/coreui-chartjs";

.wrapper {
    width: 100%;
    @include ltr-rtl("padding-left", var(--cui-sidebar-occupy-start, 0));
    @include ltr-rtl("padding-right", var(--cui-sidebar-occupy-end, 0));
    will-change: auto;
    @include transition(padding 0.15s);
}
// perfect scrollbar theming for use with [perfectScrollbar] directive
//@import '~perfect-scrollbar/css/perfect-scrollbar.css';

$sidebar-backdrop-bg: #3c645fe3;

.sidebar {
    background: #3c645f;
}

ngb-accordion {
    .btn-link {
        text-decoration: none;
        color: var(--cui-btn-color, rgba(44, 56, 74, 0.95));
    }
    .card-header {
        padding: 0px;
    }
    .accordion-button {
        padding: 0.5rem 1.25rem;
        &:focus {
            box-shadow: none;
            background: none;
        }
    }
}

.form-control {
    &.ng-valid,
    &.ng-invalid {
        padding-right: 0px !important;
        background: none;
        &:focus {
            box-shadow: none;
        }
    }
}
