<div class="animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <form #custform="ngForm" class="form-horizontal">
                <shared-customer [isView]="false" [isLoader]="isLoader" [CustomerGroup]="CustomerGroup"></shared-customer>
                <!--/.col-->
                <div class="card-footer text-riendght">
                    <div class="example-button-row">
                        <button type="button" class="m-2" (click)="saveCustomerPersionDetail()" mat-raised-button color="primary">Submit</button>
                        <button type="reset" class="m-2" mat-raised-button>Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
